div(class="container", fxLayout="row", fxLayout.sm="row", fxLayoutWrap, fxLayoutGap="0.5%", fxLayoutAlign="center")
    mat-card(class="mat-elevation-z8", fxFlex.sm="40%", *ngIf="user")
        img(mat-card-image, src=require('../common/assets/img/user.png'))
        mat-card-content
            mat-form-field
                input(matInput, placeholder="Name", [(value)]="user.name")
            mat-form-field
                input(matInput, placeholder="Username", [(value)]="user.username")
            mat-form-field
                input(matInput, placeholder="Email", [(value)]="user.email")
            mat-form-field
                input(matInput, placeholder="City", [(value)]="user.address.city")
            mat-form-field
                input(matInput, placeholder="Street", [(value)]="user.address.street")
            mat-form-field
                input(matInput, placeholder="Suite", [(value)]="user.address.suite")
        mat-card-actions(align="end")
            button(mat-raised-button, (click)="save(user);") Save
            button(mat-raised-button, [routerLink]="['/']") Cancel
