mat-card(class="mat-elevation-z8", *ngFor="let user of users; let i = index;")
	mat-card-header
		div(mat-card-avatar)
		mat-card-title {{ user.name }}
		mat-card-subtitle {{ user.username }}
	mat-card-content
		p {{ user.address.city }}, {{ user.address.street }}, {{ user.address.suite }}
	mat-card-actions(align="end")
		button(mat-raised-button, [routerLink]="['/user', user.id]") Edit
		button(mat-raised-button, (click)="remove(i);") Delete
